.shell{
    background:rgb(71, 69, 69);
    width: 100%;
    height: 100%;
}
.container{
    align-items: center;
}
.hero-section{  

    align-items: center;
    margin-bottom: 30px;

}
.hero-section-img{
    width: 124vh;
    height: 70vh;
}
.card-group{
    width: 62vw;
    background: rgb(156, 153, 153);
    display: flex;
    justify-content: space-between;
}
.card{
   margin: 30px;
    background: black;
    width: 25%;
    height: 420px;
}

.card-img-top{
    width: 100%;
    height: 300px;
}
.card-body{
    color: aliceblue;
}